
.di_chuot:active {
  color: rgb(247, 0, 255);
  font-size: 30px;
}

.click_me:link {
  color: chocolate;
}

.click_me:visited {
  color: rgb(248, 171, 5);
}

.div_elm:empty {
  width: 200px;
  height: 200px;
  background-color: blue;
}

.div_elm {
  width: 200px;
  height: 200px;
  background-color: red;
}

h2:target {
  color: blue;
}
